<h1 ><span class="text-blue" style="font-weight: 700;">Connecting people with pools</span></h1>
<p class="about">PoolCrasher allows you to book and rent pool time. 
Owners can list their pools and create an additional stream of revenue.</p>

<p>We know how difficult it is to find open pools. That's where PoolCrasher comes in.
We make it easier for neighbors to connect, network, and forge business relationships within their communites. 
</p>
<p>We've creatd a dynamic platform and want to offer a great experience to both our host and guest.</p>

<!--<h1 ><span class="text-blue" style="font-weight: 700;">History Lesson</span></h1>-->
