<section class="">
  <div class="container">
    <h1 ><span class="text-blue" style="font-weight: 700;">Connecting People with Venue Spaces</span></h1>
    <p class="about">
      We know how difficult it is to find a great venue space. That's where ShindigSpace comes in. We make it easier for customers to connect with venue spaces
      to host create their perfect event.
    </p>
    
    <p></p>ShindigSpace allows you to book and rent unique venue spaces near you. Venue space owners no longer have to worry about payment decrepancies as
    payment transactions are done through the website. Creating an additional stream of revenue through a venue space marketplace helps you generate and increase
    your revenue potential.</p>
    
    <p>We've creatd a dynamic platform and want to offer both our host and guest a great experience.</p>
  <div>
<section>