<h1 ><span class="text-blue" style="font-weight: 700;">Connecting people with unique church spaces</span></h1>
<p class="about">Church Venue Space is a platform that allow users to book unused church spaces. 
Church clergy can list their church space and create an additional stream of revenue for their church.</p>

<p>We know how difficult it is to find the great and affordable event venue spaces. That's where we come in.
Church Venue Space makes it easier for churches to connect, network, and foster key social and business relationships with the broader community. 
</p>
<p>It is our vision to offer a dynamic platform and a great experience to both our church space host and guest.</p>

<!--<h1 ><span class="text-blue" style="font-weight: 700;">History Lesson</span></h1>-->
