<h1 ><span class="text-blue" style="font-weight: 700;">Careers</span></h1>
<hr>
<div class="row">
  <div class="col-md-9">
  <a href="#">Ruby on Rails Developer</a>
  </div>
  <div class="col-md-3"><p class="pull-right">Chicago, IL or Remote</p></div>
</div> 
<div class="row">
  <div class="col-md-9">
  <a href="#">Ambassador</a>
  </div>
  <div class="col-md-3"><p class="pull-right">Remote</p></div>
</div> 