<h1 ><span class="text-blue" style="font-weight: 700;">You Have Questions, We Have Answers</span></h1>
<p class="faq"><b>Why did we create this?</b></p>
<p>We wanted to create a space where people can book affordable churche spaces, within communities, to hold small events and meetings.</p>

<p class="faq"><b>How can I share this with others in my network?</b></p>
<p>For now, simply copy and paste the web address to share.</p>

<p class="faq"><b>There's a link to support the site, how will the funds be used?</b></p>
<p>Donations will be greatly appreciated and will go directly to keeping the site up and running strong.</p>

<p class="faq"><b>How will my data and content be used.</b></p>
<p>Your content is safefly secured in AWS S3 storage that has strict encryption variable. This site will not turn into a data mill.</p>

<p class="faq"><b>I want to collaborate or become a partner, how can I get in contact?</b></p>
<p>Just hit me up on <a href="https://www.facebook.com/LawrenceMurry24">Facebook</a>.</p>

<p>Let's network and foster key social and business relationships with the broader community.</p>

<!--<h1 ><span class="text-blue" style="font-weight: 700;">History Lesson</span></h1>-->